<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <p class="card-header"><span class="h2 me-2">Edit Flat</span></p>
          <div class="card-body p-4 m-1">
            <%= render "form", flat: @flat %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
